/*======= CONST =======*/
$background-color:#fff;
$primary-color:rgba(#000,0.95);
$accent-color:#39bbe2;
$accent-color2:#db2c2c;
$grid-space: 10px;

/*======= CUSTOM VARS =======*/

$block-color: #01579b;
$block-color2: #254d67;
$block-space:10px;
$content-space:30px;