
@keyframes circle{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}


@keyframes slideInDown {
  from{transform: translate3d(0, -50px, 0) skew(6deg,10deg) scale(.8);visibility: visible;opacity:0;}
  to{transform: translate3d(0, 0, 0) skew(0deg,0deg) scale(1);opacity:1;}
}
@keyframes slideInUp {
  from{transform: translate3d(0, 50px, 0) skew(18deg,5deg) scale(0.8);visibility: visible;opacity:0;}
  to{transform: translate3d(0, 0, 0) skew(0deg,0deg) scale(1);opacity:1;}
}
@keyframes slideInLeft {
  from{transform: translate3d(-50px, 0, 0) skew(-10deg , 15deg) scale(0.8);visibility: visible;opacity:0;}
  to{transform: translate3d(0, 0, 0) skew(0deg , 0deg) scale(1);opacity:1;}
}
@keyframes slideInRight {
  from{transform: translate3d(50px, 0, 0) skew(18deg,5deg) scale(0.8);visibility: visible;opacity:0.3;}
  to{transform: translate3d(0, 0, 0) skew(0deg,0deg) scale(1);opacity:1}
}
@keyframes InCenter {
  from{transform: translate3d(0, 0, 0) skew(18deg,5deg) scale(0.8);visibility: visible;opacity:0.3;}
  to{transform: translate3d(0, 0, 0) skew(0deg,0deg) scale(1);opacity:1}
}

.mkgUp{
    &_highlight{position: absolute;z-index: 9999;background:#28c5e8;pointer-events:none;opacity:0}
    &_coverback{height:0;opacity:0;
        &-item{position: absolute;background: #000;}
        &-left{@extend .mkgUp_coverback-item;left:0;top:0;z-index: 9999;}
        &-top{@extend .mkgUp_coverback-left;top:0;z-index: 9999;}
        &-bottom{@extend .mkgUp_coverback-left;z-index: 9999;}
        &-right{@extend .mkgUp_coverback-left;top:0;z-index: 9999;}
        }
    &_disable{background: #dedede url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAOS5m7GjMhiIIHnJ3edhQvCBECKwILIAmBBdAGQIADSDhDPYoLCMgAAAABJRU5ErkJggg==);opacity:0;position: absolute;top:0;left:0;right:0;bottom:0;

    }
    &_loading{position: absolute;z-index: 9999;background:rgba(#dedede,1);opacity:0;text-align: center;
        &:before{content:'';width:1px;height:100%;vertical-align: middle;display: inline-block;}//ortala
        &:after{content:'';position: relative;width: 40px;height: 40px;animation: circle infinite .75s linear;border: 5px solid #fff;border-left-color:rgba(#000,0.6);border-radius: 100%;display: inline-block;vertical-align: middle;}
    }
&_tip{background: #323232;color:#fff;font-size:1rem;display: inline-block;padding: 10px 15px;margin-top:0;cursor:default;transform-origin: 0 0;position: absolute;top:100px;left:100px;animation-fill-mode: forward;backface-visibility:hidden;max-width: 200px;line-height: 1.4rem;z-index: 9999;
        &--top{animation-name: slideInDown;animation-duration: 400ms;opacity:1}
        &--right{animation-name: slideInRight;animation-duration: 400ms;opacity:1}
        &--bottom{animation-name: slideInUp;animation-duration: 400ms;opacity:1}
        &--left{animation-name: slideInLeft;animation-duration: 400ms;opacity:1}
        &--center{animation-name: InCenter;animation-duration: 400ms;opacity:1}

    }
}
